<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href='#'>SFDC Portal</a>
		</div> 
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href='#'>Placeholder</a></li>
			</ul>
		</div>
	</div>
</div>